body {
  cursor: default;
  padding: 0;
  border: 0;
  margin: 0;

  text-align: center;
  background-color: black;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  overflow: hidden;
}

body, canvas, div {
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: black;
}

/* Remove spin of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

canvas {
  background-color: black;
}

#GameDiv {
  margin: auto;
  position:relative;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
}

#Splash{
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  background-image: url("./img/loading_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Cocos3dGameContainer, #GameCanvas {
  width: 100%;
  height: 100%;
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}

#loading-text-box {
  width: 36vw;
  position: inherit;
  right: 2vw;
  bottom: 5px;
}
#loading-text-box img{
  width: calc(100% / 15);
}

@keyframes dotBlink {
  13% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dotBlink2 {
  38% {
    opacity: 0;
  }
  43% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dotBlink3 {
  68% {
    opacity: 0;
  }
  73% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#loading-dot1, #loading-dot2, #loading-dot3 {
  opacity: 0;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
#loading-dot1{
  animation-name: dotBlink;
}
#loading-dot2{
  animation-name: dotBlink2;
}
#loading-dot3{
  animation-name: dotBlink3;
}